@charset "utf-8";
/* CSS Document */

*{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
}

.bolum1 {
	width: 100%;
}

header {
	width: 100%;
}

.topbar {
	float: right;
}

.topbar_element {
	float: left;
	margin: 5px 10px;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 0.8em;
	padding: 8px 5px
}
.topbar_element i {
	margin: 0 5px;
	
}

.topbar_element:nth-child(2) {
	border-right: 2px solid black;
	border-left: 2px solid black;
	padding: 8px 5px;
	padding-right: 10px;
}

.social {
	font-size: 22px;
	padding: 2px 5px;
}

.social .fa-facebook-square {
	color: blue;
}

.social .fa-twitter {
	color: aqua;
}

.social .fa-instagram {
	color: gold;
}

.social .fa-youtube {
	color: red;
}

.logo {
	max-width: 700px;
	margin: 0px auto;
	display: block;
	border-bottom: 1px solid black;
	text-align: center;
}

.logo img {
	width: 50%;
}

header nav {
	margin: 0 auto;
	width: 700px;
}

nav ul li {
	list-style: none;
	float: left;
	padding: 10px 20px;
	text-transform: uppercase;
	transition: background 0.75s;	
	
	
}


nav ul li:hover {
	list-style: none;
	float: left;
	margin: 0 5px;
	padding: 10px 19px;
	text-transform: uppercase;
	background: black;
	color: white;
	transition-timing-function: ease-in-out;
		
}


.bluebar {
	width: 100%;
	background: #0D72D0;
	line-height: 3em;
	color: white;
	font-size: 0.8em;
}

.bluebar a {
	text-decoration: none;
	color: white;
	text-align: left;
	
}

.bluebar a:hover {
	text-decoration: underline;
}

.main_picture {
	max-width: 100vw;
}

.main_picture img {
	max-width: inherit;
	
}